.footer {
  margin-top: 4rem;
  text-align: center;
}

.footerText{
  font-size: 18px;
  color: #f2f2f2;
}

.footerAuthor{
  color: #e4e4e4;
  font-size: 18px;
  font-weight: bold;
  padding: 08px;
  text-decoration: none;

}