.header {
  padding: 1rem 0 1rem;
}

.title {
  color: #F2F2F2;
  font-size: 3rem;
  text-decoration: none;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 30px 0;
}

.nav-item {
  color: #e4e4e4;
  font-size: 18px;
  margin-right: 1.3rem;
  text-decoration: none;
  background: #756E50;
  padding: 15px 20px;
  border-radius: 4px;
}

.nav-item:hover {
  color: #666666;
}

.active-nav-item {
  color: #333333;
}

.navContainer{
  margin: 100px 0;
}